
@font-face {
  src: url("/media/fonts/IRANSansWeb/IRANSansWeb.eot");
  src: url("/media/fonts/IRANSansWeb/IRANSansWeb.Web");
  src: url("/media/fonts/IRANSansWeb/IRANSansWeb.woff");
  src: url("/media/fonts/IRANSansWeb/IRANSansWeb.woff2");

  font-family: "iransans";
}


body,
input,
Button,
.Toastify__toast ,
table
{
  font-family: "iransans" !important;
}
